[Unit]
Description=Start MBot Networking
After=network.target NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=oneshot
PIDFile=/run/mbot_start_net.pid
ExecStart=/usr/local/etc/mbot_start_networking.sh --PIDFile /run/mbot_start_net.pid
Restart=on-failure
RestartSec=5
User=root
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
