[Unit]
Description=MBot micro-ROS Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=mbot

ExecStart=/bin/bash -c '\
    source /opt/ros/jazzy/setup.bash && \
    source ~/microros_ws/install/local_setup.sh && \
    ros2 run micro_ros_agent micro_ros_agent serial --dev /dev/ttyACM1 --baudrate 115200'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target